#
.DS_Store
.ipynb_checkpoints
*.png

# vim temp file
*.swp
*.swo

# emacs backup file
*~
# emacs recovery file
\#*\#
# emacs lock file
.\#*
#build directory
build
#object files
*.o

#static libraries
*.a

#share libraries
*.so
*.dylib

#executable
a.out
*.x
*.pyc

#tf files
*.tfevents.*
*dSYM/*

#pytorch files
#
*/.vector_cache/
*/.data

#hdf5 data files
*.h5
